.elementWrp {
    display: flex;
    flex-direction: column;
    margin: 40px 0;

    .elementButton{
        height: 45px;
        font-size: 16px;
        padding: 0 10px;
        border: none;
        text-align: center;
        vertical-align: middle;
        border-radius: 5px;
    }
  }