$color-r4a: #454545;
$color-b5d: #785964;
$color-fgy: #d5c7bc;
$color-cvf: #f1fffa;
$color-swd: #93b7be;
$color-mxy: #ffffff;

$color-pla: #270;
$color-hig: #dff2bf;
$color-nqi: #d8000c;
$color-qas: #ffbaba;
$font-kng: 30px;

$space-lfg: 5px;

$icon-color: $color-b5d;
$icon-hover-color: $color-fgy;

//btn
$btn-background-color: $color-b5d;
$btn-background-hover-color: $color-fgy;
$btn-color: $color-mxy;
$btn-hover-color: $color-b5d;

$navi-background-color: $color-swd;
$header-background-color: $color-r4a;
$header-color: $color-fgy;

$web-color: $color-b5d;

//div
$div-background-disabled-color: $color-fgy;
$div-disabled-color: $color-b5d;

$div-background-selected-color: $color-swd;
$div-selected-color: $color-mxy;
//end - div

//list
$list-important: $font-kng;
$list-item-space: $space-lfg;
$list-odd-background-color: $color-cvf;

//validation

$valid-error-color: $color-nqi;
$valid-success-color: $color-pla;
$valid-error-background-color: $color-qas;
$valid-success-background-color: $color-hig;


.theme {
  color: $web-color;

  .iconColor {
    color: $icon-color;
    &:hover {
      color: $icon-hover-color;
    }
  }

  .theme-header {
    background-color: $header-background-color;
    .theme-user {
      color: $header-color;
    }
  }
  .theme-navi {
    // background-color: $navi-background-color;
    border-color: $border-color;
    border-right: 1px solid;
    a {
      color: $btn-color;
      &:hover {
        color: $btn-hover-color;
      }
    }
  }

  .theme-element-wrp {
    .theme-element-button {
      background-color: $btn-background-color;
      color: $btn-color;
      &:hover {
        background-color: $btn-background-hover-color;
        color: $btn-hover-color;
      }
    }

    .theme-element-text {
      border-color: $btn-background-color;
    }
  }

  .list-group-item {
    &.inactive {
      background-color: $div-background-disabled-color !important;
      color: $div-disabled-color !important;
    }
    &.selected {
      background-color: $div-background-selected-color !important;
      color: $div-selected-color !important;
    }
    &:nth-child(2n) {
      background-color: $list-odd-background-color;
      color: inherit;
    }

    .important {
      font-size: $list-important;
    }
    .item {
      margin: 0 $list-item-space;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .valid-error {
    color: $valid-error-color;
    input {
      background-color: $valid-error-background-color;
    }
  }

  .valid-success {
    color: $valid-success-color;
    input {
      background-color: $valid-success-background-color;
    }
  }
}
